.loginContainer {
  background-color: var(--bg-white);
  border-radius: var(--radius-sm);
  width: 100%;
  width: var(--container-width);
  margin: 200 auto;

  box-sizing: border-box;
  display: block;
}

.loginContainer h2 {
  text-align: center;
  color: var(--text-main);
  margin-bottom: 18px;
  font-weight: bold;
}

.loginContainer p {
  text-align: center;
  color: var(--text-muted);
  margin-bottom: 2rem;
}
