.container {
  width: 100%;
  max-width: var(--reg-container-width);
  margin: 0 auto;
  background-color: var(--bg-secondary);
  padding: 2rem 3rem;
  border-radius: var(--radius-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 32px;
  color: var(--text-primary);
  margin: 0;
  text-align: center;
  
  text-align: left;
}

.backBtn {
  background: none;
  border: none;
  padding: 0;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: opacity 0.2s ease;
  width: fit-content;
}

.backBtn:hover {
  opacity: 0.7;
}

.backBtn:active {
  transform: translateY(1px);
}