.signupContainer {
  background-color: var(--bg-white);
  padding: 2rem 3rem;
  border-radius: var(--radius-sm);
  width: 100%;
  width: var(--container-width);
  margin: 200 auto;

  box-sizing: border-box;
  display: block;
}

.signupContainer h2 {
  text-align: center;
  color: var(--text-main);
  margin-bottom: 1.5rem;
  font-weight: bold;
}
