.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.signupButton:disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
  transform: none;
}

.agreeWrapper {
  background-color: var(--bg-secondary);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--divider-color);
}

.agreeLabel {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.agreeLabel span {
  font-size: 12px;
  color: var(--text-secondary);
  letter-spacing: -0.5px;
}