.card {
  width: 267px;
  height: 144px;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  padding: 20px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: none;
  transition: all 0.3s ease;
  position: relative;
}

.titleGroup {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 6px;
  width: 100%;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
}

.className {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.studentCount {
  font-size: 12px;
  opacity: 0.4;
  white-space: nowrap;
}

.cardBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 16px;
  color: var(--text-secondary);
}

.value {
  font-size: 32px;
  font-weight: bold;
}

.vLine {
  width: 1px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.05);
}

.emptyCard {
  background-color: transparent;
  border: 2px dashed #d1d8dd;
  color: #8e9aaf;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.emptyCard:hover {
  background-color: var(--bg-secondary);
  border: 2px dashed var(--primary-color);
  color: var(--primary-color);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.plusContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #3b9cff;
}

.plusIcon {
  font-size: 32px;
  line-height: 1;
}

.addText {
  font-size: 14px;
  font-weight: 600;
}