.card {
  min-width: 250px;
  height: 144px;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  padding: 20px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: none;
  transition: all 0.3s ease;
}

.titleGroup {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 8px;
}

.className,
.label {
  font-size: 18px;
}

.className {
  white-space: nowrap;
  overflow: hidden;
}

.studentCount {
  font-size: 14px;
  opacity: 0.4;
}

.cardBody {
  display: flex;
  justify-content: space-around;
}

.statItem {
  display: flex;
  align-items: center;
}

.value {
  margin-left: 10px;
  font-size: 32px;
  font-weight: bold;
}

.vLine {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  flex-shrink: 0;
}

.emptyCard {
  background-color: transparent;
  border: 2px dashed #d1d8dd;
  color: #8e9aaf;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.emptyCard:hover {
  background-color: var(--bg-secondary);
  border: 2px dashed var(--primary-color);
  color: var(--primary-color);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.plusWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #3b9cff;
}

.plusIcon {
  font-size: 20px;
  margin-right: 10px;
}

.addText {
  font-size: 16px;
}